@import '../../../assets/scss/variables.scss';

.phonenumber-wrapper{
    display: flex;
    flex-direction: column;
    // min-width: 275px;
    width: 50%;
    margin: 12px 24px;

    label{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    .phoneinput-wrapper{

        input{
            height: 30px;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding: 10px 15px;
            border: 1px solid #9FA9BC;
            background: #F5F8F9;
            outline: none;
            transition: all 0.3s ease;
            border-radius: 4px;
        }
        
    }

}