$primary: #508AFF;
$textColor: #565656;
$textColorSecond: #3F3D56;
$sidebarBg: linear-gradient(135deg, #508AFF 0%, #5DA1FE 101.55%);
$backgroundColor: #F3F4F9;

$red: #FF6464;
$green: #0ECF00;
$grey: #858585;
$lightGrey: #9FA9BC;

$boxShadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$boxShadowHover: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;