@import '../../assets/scss/variables.scss';

.searchWrapper{
    display: inline-flex;
    min-width: 195px;
    margin: 0 8px;

    border: 1px solid $lightGrey;
    border-radius: 12px;
    padding: 9px;

    img{
        display: block;
        width: 16px;
        height: 16px;
        margin: auto 0;
    }

    input{
        background: transparent;
        border: none;
        outline: none;
        font-family: "Poppins", sans-serif;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 6px;
    }
}