@import '../../assets/scss/variables.scss';

.table-head-filters{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 24px auto;
}

.table {
    border-collapse: collapse;
    border: none;
    border-collapse: separate;
    border-spacing: 0 4px;
    width: 95%;
    margin: 0 auto;
}

.table-row-header {
    background: transparent;
    background-color: transparent;
    transition: all 0.25s ease;
    border-radius: 10px;
    user-select: none;
}

.table-header {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: $lightGrey;

    text-align: center;

    cursor: pointer;
    transition: all .3s ease;

    &:hover{
        color: $primary;

        img.orderByArrow{
            transform: scale(1.5);
        }
    }

    img.orderByArrow{
        display: inline-block;
        margin-left: 12px;
        margin-bottom: 3px;
        height: 4px;
        width: 8px;

        transition: all .3s ease;
    }
}

.table-header:first-child {
    border-top-left-radius: 15px;
}

.table-header:last-child {
    border-top-right-radius: 15px;
}

tr.table-row-items td:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
tr.table-row-items td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.table-row-items {
    cursor: auto;
    box-shadow: $boxShadow;
    border-radius: 8px;
    margin-bottom: 4px;

    transition: all .3s ease;
    cursor: pointer;

    user-select: none;
    
    td{
        padding: 25px 30px;
        text-align: center;
        background: white;
    }

    &.no-hover{
        cursor: default;

        &:hover{
            transform: scale(1);
            box-shadow: $boxShadow;
        }
    }

    &:hover{
        transform: scale(1);
        box-shadow: $boxShadowHover;
    }
}

td, th{
    width:100%;
    min-width: 180px;
    max-width: 180px;
    overflow: hidden;
}

// .table-row-items:nth-child(odd) {
    // background-color: #f9f9f9;
// }

.table-cell {
    padding: 12px;
    font-size: 14px;
    color: $grey;

    &.cell-blue{
        color: $primary;
    }

    &.cell-red{
        color: $red;
    }

    &.cell-green{
        color: $green;
    }
}
